* {box-sizing: border-box;}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ECECEC;
}
header {
    overflow: hidden;
    background-color: #333333;
    padding: 20px 10px;
}
header a {
    float: left;
    color: #C0BAB6;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
header a.home {
    font-size: 40px;
    font-weight: bold;
    color: #C0BAB6;
}
.header-right {
    float: right;
}
.header-right a:hover {
    background-color: dimgrey;
    color: black;
}
header a.active {
    background-color: darkviolet;
    color: white;
}
fieldset {
    height: fit-content;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 10%;
}

fieldset label input {
    margin: 7px 0;
}
fieldset button {
    margin: 10px 0;
    height: 3em;
    width: 25em;
}
.rule_preview textarea {
    margin: 10px 0;
    width: 400px;
    height: 100px;
}
.file_preview textarea {
    margin: 10px 0;
    width: 400px;
    height: 100px;
}
.file_preview {
    text-align: center;
}

.file_preview button {
    height: 3em;
    width: 10em;
}

.line_num input {
    height: 2em;
    width: 5em;
}
.line_num button {
    height: 2em;
    width: 5em;
}

